*{
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* text-align: center; */ */
  /* box-sizing: border-box; */
}
.family-tree div{
  border: 2px solid tan;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
}
.flex{
  display: flex;
  /* flex-direction: column; */
}